* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.createForm p{
  margin: 15px 0 5px 0;
}
.editForm p{
  margin: 15px 0 5px 0;
}
span{
 padding: 7px 5px 7px 0;
}
.borderForm{
  border: solid grey 1px;
}
.buttonCreate{
  margin: 20px 0 20px 0;
  width: 160px;
  height: 40px;
  border-radius: 3px;
  background: #e0b835;
}
.mainForm{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 450px;
  padding-top:85px;
}
input{
  width: 98%;
}
select{
  width: 98%;
}
.topList h6{
  position: absolute;
  padding-top: 10px;
  display: inline;
}
.topList h5{
  position: absolute;
  padding-top: 10px;
  display: inline;
}
.topList span{
  color: #d54545;
  display: inline;
}
.topList{
  display: flex;
  justify-content: space-between;
}
a{
  display: flex;
  margin: 20px 0 20px 0;
}
.deleteAddress {
  cursor: pointer;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.listForm{
  margin: 5px;
}
img{
  margin-top: 15px;
}